#container {
    display: flex;
    height: 500px;
    border: 2px solid black;
    gap: 4px;
    margin-top: 100px;
}

#box-one {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    position: relative;
    /* Enter your code below  */
}

#box-two {
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    position: static
}